<!-- BEGIN #generated-article-liquid -->
<div id="generated-article-liquid">

  <!-- BEGIN .article -->
  <div class="article">
    <h2 class="article-title title"><a href="{{ article.url }}">{{ article.title }}</a></h2>    
    <h4 class="article-details posted">Posted by {{ article.author }} on {{ article.created_at | date: "%B %d, %Y" }}</h4>
    <div class="article-body entry">
      {{ article.content }}
    </div>
    {% if blog.comments_enabled? %}{% if article.comments.size or comment %}
    <h6 class="comments-info">
      <a href="#comments">{% if comment and comment.created_at %}
        {{ article.comments_count | plus: 1 }} {{ article.comments_count | plus: 1 | pluralize: "Comment", "Comments" }}{% else %}
        {{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}{% endif %}
      </a>
    </h6>{% endif %}{% endif %}
  </div>
  <!-- END .article -->

  {% if blog.comments_enabled? %}
  
  <!-- BEGIN #comments -->
  <div id="comments">
    
    <h3>Comments</h3>
    
    {% if article.comments.size == 0 and comment == nil %}
    <p id="empty">There are no comments.</p>
    
    {% elsif article.comments.size > 0 or comment %}
    <!-- BEGIN #comment-list  -->
    <ul id="comment-list">{% for comment in article.comments %}
      <li id="comment-{{ comment.id }}" class="comment{% if forloop.last and comment == nil %} end{% endif %}">
        <div class="comment-body">
          {{ comment.content }}
        </div>
        <h6 class="author comment-details">
          Posted by {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}
        </h6>
      </li>
      {% endfor %}{% if comment and comment.created_at %}
      <li class="comment-{{ comment.id }} not-yet-published end">
        <div class="comment-body">
          {{ comment.content }}
        </div>
        <h6 class="author comment-details">
          Posted by {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}
          </h6>
      </li>{% endif %}
    </ul>
    <!-- END #comment-list -->
    {% endif %}

    <!-- BEGIN #comment-form -->
    <div id="comment-form">
      <h3>Post Comment</h3>
      <!-- START COMMENT FORM -->
      {% form article %}{% if form.posted_successfully? %}{% if blog.moderated? %}
        <p id="posted">Successfully posted and awaiting approval by moderator.</p>{% else %}
        <p id="posted">Successfully posted your comment.</p>{% endif %}{% elsif form.errors %}
        <p id="error">The {{ form.errors.size | pluralize: 'field', 'fields' }} {{ form.errors | join: ' and ' }} {{ form.errors.size | pluralize: 'has', 'have' }} not been filled out correctly!</p>{% endif %}
        <div class="comment-form-field{% if form.errors contains 'author' %} error{% endif %}">
          <label for="comment_author"{% if form.errors contains 'author' %} class="error"{% endif %}>Name</label>
          <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" class="field{% if form.errors contains 'author' %} error{% endif %}" />
        </div>
        <div class="comment-form-field{% if form.errors contains 'email' %} error{% endif %}">
          <label for="comment_email"{% if form.errors contains 'email' %} class="error"{% endif %}>Email Address <small>(we never show this)</small></label>
          <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" class="field{% if form.errors contains 'email' %} error{% endif %}" />
        </div>
        <div class="comment-form-field{% if form.errors contains 'body' %} error{% endif %}">
          <label for="comment_body"{% if form.errors contains 'body' %} class="error"{% endif %}>Comment</label>
          <textarea id="comment_body" name="comment[body]" cols="" rows=""{% if form.errors contains 'body' %} class="error"{% endif %}>{{ form.body }}</textarea>
        </div>
        <p>
          <input type="submit" value="Post Comment" class="submit" />
        </p>
      {% endform %}
      <!-- END COMMENT FORM -->
    </div>
    <!-- END #comment-form -->
  </div>
  <!-- END #comments -->
  {% endif %}

</div>
<!-- END #generated-article-liquid -->